<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHS Basketball</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
<div id="background" style="background-image: url({% static '/bballhome.png' %})">
    <div id="center">
        <h1>Welcome to the Northville High School Basketball Page</h1>
        <a href="/homepage">NHS Men's Basketball</a>
        <a href="/whomepage">NHS Women's Basketball</a>
    </div>
</div>
</body>
</html>